*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02%;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

a,
li {
    text-decoration: none;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --accent-color: #4d5ae5;
}

.container {
    max-width: 320px;
        padding: 16px;
        margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.page-nav {
    display: flex;
    align-items: center;
    color: #2e2f42;
    font-weight: 500;
    background-color: #fff;
}

.page-nav-item {
    display: flex;
        list-style: none;
        gap: 40px;
        margin: 0;
        align-items: center;
}

.page-nav span {
    color: #2e2f42;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.nav-link {
color: #2e2f42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
cursor: pointer;
display: block;
padding: 24px 0;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after{
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
}

.nav-link.active-link {
    color: #404bbf;
    
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

@media (max-width: 768px) {

    .page-nav-item,
    .address {
        display: none;
    }
}

address {
    color: #434455;
    font-style: normal;
    display: block;
}

.address-item {
    display: flex;
    gap: 40px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

.address-link {
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    text-decoration: underline;
    color: #404bbf;
}

.header-menu-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.header-menu-button:hover,
.header-menu-button:focus {
    color: #2e2f42;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-mobile-menu {
position: relative;
padding-top: 72px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
}

.mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    position: absolute;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.page-nav-menu {
    margin-bottom: auto;
}

.page-nav-item-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 40px;
    margin-bottom: 168px;
}

.nav-link-menu {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #434455;
    }


.carrent {
    color: #404BBF;
}

.address-item-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 16px;
    margin-bottom: 48px;
    }

.address-link-menu {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.accent {
    color: #404bbf;
}

.menu-social-links-list {
    list-style: none;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.menu-social-links-element {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-link-icon {
    fill: #f4f4fd;
}

.main-page {
background: #2e2f42;
background-image: 
linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 100%;
padding: 72px 0;
margin: 0 auto;
}

@media (min-resolution: 2x) 
{ .main-page { 
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office@2.jpg); }
}

.main-page-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-weight: bold;
    font-size: 56px;
line-height: 1.07;
color: #fff;
text-align: center;
letter-spacing: 0.02em;
max-width: 496px;
}

 .main-title-button {
    display: inline-block;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 4%;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.main-title-button:hover,
.main-title-button:focus {
    background-color: #404BBF;
}

.principles-container {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.core-principles {
    padding: 96px 0;
}

.core-principles-list {
    display: flex;
        flex-direction: column;
        gap: 72px;
}

.core-prenciples-items-container {
    display: none;
}


.core-principles-title {
    font-weight: bold;
    font-size: 36px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.core-principles-item-title {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 8px;
}

/* .core-principles-item {
    width: 100%;
    flex: 1 1 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.core-prenciples-icon {
    fill: none;
}

.core-principles-item-title {
    margin-bottom: 8px;
}

.core-principles-text {
    letter-spacing: 0.02em;
}


.team {
    padding: 96px 0;
    background-color: #f4f4fd;
}


.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
flex-direction: column;
gap: 72px;
}


.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.photography {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.team-name-container {
    padding: 32px 0;
}

.team-member-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.team-member-profession {
    text-align: center;
}

.social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-link {
background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-link-icon {
    fill: #f4f4fd;
}

.our-porfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 48px;
}


.portfolio-list-item {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item p {
    padding-top: 0;
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
        margin-bottom: 8px;
}


.app-image-container {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.page-footer {
    background: #2e2f42;
    padding: 96px 0;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.footer-logo-span {
    font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17;
        color: #f4f4fd;
        max-width: 264px;
}

.footer-logo {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17;
        color: #4d5ae5;
        margin-bottom: 16px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}

.footer-social-links {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
}

.footer-social-links-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.footer-social-links-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}


.footer-social-links-element {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms ease;
}

.footer-social-links-element:hover,
.footer-social-links-element:focus {
    background-color: #31d0aa;
}

.footer-social-link-icon {
    fill: #f4f4fd;
}

.footer-input-cont {
    display: flex;
    flex-direction: column;
    /*margin-top: 72px;*/
    align-items: center;
    justify-content: center;
}

.footer-input-text {
    margin-bottom: 16px;
    font-weight: 500;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-inp {
        background-color: #2e2f42;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        font-weight: 400;
        font-size: 12px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: transparent;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #ffffff;
}

.footer-imput input::placeholder {
    color: #fff;
}

.footer-imput::placeholder {
    color: #fff;
}

.footer-button {
    min-width: 165px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        border: none;
        color: #fff;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        margin: 0 auto;
}

.footer-button-icon {
    margin-left: 16px;
    fill: #fff;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    padding: 72px 16px 16px 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 288px;
        min-height: 623px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        display: flex;
        flex-direction: column;
        border: 1px solid #4d5ae5;
}

.popup-close {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        top: 24px;
        right: 24px;
        position: absolute;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.popup-close:hover,
.popup-close:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close:hover svg,
.popup-close:focus svg {
    fill: #fff;
}

.popup-title {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}


.popup-label {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.popup-input-wrapper {
    margin-bottom: 8px;
}

.input-cont {
    position: relative;
    display: flex;
    align-items: center;
}


.popup-icon {
    position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        fill: rgba(46, 47, 66, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-icon:focus {
    fill: #4D5AE5;
}

.popup-input {
    width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input-comment-box {
    margin-bottom: 16px;
}

.popup-comment {
width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.popup-comment:focus {
    border-color: #4d5ae5;
}

.popup-input:focus {
    border-color: #4d5ae5;
}


.popup-input-wrapper:has(input:focus) .popup-icon {
    stroke: #4d5ae5;
    fill: #4d5ae5;
}

.popup-checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.checkbox-icon-wrapper {
    width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.custom-checkbox-input:checked + .checkbox-label .checkbox-icon-wrapper {
background-color: #404BBF;
border: none;
fill: #F4F4FD;
}

.custom-checkbox-input:checked + .checkbox-label .checkbox-icon {
    fill: #f4f4fd;
}


.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-button {
display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.form-button:hover {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

.header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px 0 15px;
    
 }

.mobile-menu {
    display: none;
}

.nav-logo {
    margin-right: 120px;
}

.page-nav-item {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.nav-link {
    display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active-link {
    position: relative;
        color: #404BBF;
}

.nav-link.active-link::after {
    content:"";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404bbf;
    text-decoration: underline;
}

.address {
    font-style: normal;
        margin-left: auto;
        display: block;
}

.address-item {
    display: flex;
        flex-direction: column;
        gap: 12px;
}

.address-link {
    display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-link:focus,
.addres-link:hover {
    color: #404bbf;
}

.header-menu-button {
    display: none;
}

.main-page {
    padding: 120px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
}

@media (min-resolution: 2x) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2.jpg)
    }

}

.main-title {
    margin-bottom: 36px;
        font-size: 56px;
}

.core-principles-list {
    display: flex;
    gap: 72px 24px;
        flex-wrap: wrap;
        flex-direction: row;
}

.core-principles-list .core-principles-item {
    width: calc((100% - 24px) / 2);
}

.core-principles-item-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}


.team-list {
    flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
        align-items: baseline;
        justify-content: center;
}

.team-item {
    max-width: 264px;
}

.team-list .team-item {
    width: calc((100% - 24px) / 2);
}

.portfolio-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
}

.footer-container {
    align-items: baseline;
        gap: 72px 24px;
        width: 584px;
        justify-content: flex-start;
}

.footer-box {
    display: flex;
        align-items: flex-start;
}

.footer-social-links {
    align-items: flex-start;
        margin: 0;
}

.footer-input-cont {
    align-items: baseline;
        flex-wrap: wrap;
}

.footer-form {
    flex-direction: row;
}

.modal {
    width: 408px;
        min-height: 584px;
        padding: 72px 24px 16px 24px;
}

}

@media screen and (min-width: 1158px) {
 
.container {
    max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;

}

.page-header {
    max-width: 100%;
}

.nav-logo {
    margin-right: 76px;
}

.page-nav-item {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.nav-link.active-link {
    position: relative;
        color: #404BBF;
}

.nav-link.active-link::after {
    content:"";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link {
    display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nan-link:active {
    color: #404bbf;
        text-decoration: underline;
}

.address-item {
    flex-direction: row;
}

.address-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.main-page {
    padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg)
}

@media (min-resolution: 2x) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2.jpg);
    }
}

.main-title {
    margin-bottom: 48px;
}

.core-principles {
    padding: 120px 0;
}

.core-principles-list {
    flex-wrap: nowrap;
}

.core-prenciples-icon {
    display: block;
}

.core-principles-item {
    width: calc((100% - 18px) / 4);
}
.core-prenciples-items-container {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
}

.core-principles-item-title {
    font-weight: 500;
        font-size: 20px;
}

.team {
    padding: 120px 0;
}

.our-porfolio {
    padding: 120px 0;
}

.portfolio-list {
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.page-footer {
    padding: 100px 0;
}

.footer-container {
    align-items: baseline;
        width: auto;
}

.footer-box {
    padding-right: 120px;
}

.footer-social-links {
    padding: 0;
}

.footer-input-cont {
    margin-left: auto;
}

}